
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.container{
  padding:60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  background-color: grey;
  gap: 60px;
  
}

.card, .entrada {
 
  font-family: "Meow Script";
  height: 300px;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 25px;
}

.card{
   display: flex;
   position: relative;
 
   background-color: bisque;
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.6);
}

.deleteB{
  background-color: rgba(200, 200, 200, 0.6);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 25px;
  width: 25px;
  border-bottom-right-radius: 25px;

}
